version: '3.8'

services:

  postgres:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: assetdb
    ports:
      - "5432:5432"

  backend-api:
    build: ./backend-api
    container_name: backend-api
    ports:
      - "5000:8080"
    depends_on:
      - postgres
    environment:
      ConnectionStrings__DefaultConnection: Host=postgres;Port=5432;Database=assetdb;Username=admin;Password=admin

  ml-service:
    build: ./ml-service   
    container_name: ml-service
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend-ui
    container_name: frontend-ui
    ports:
      - "4200:80"
    depends_on:
      - backend-api