name: Build and Push Docker Image

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '9.0.x'

    - name: Restore
      run: dotnet restore backend-api/AssetManagement.Api

    - name: Build
      run: dotnet build backend-api/AssetManagement.Api --no-restore

    - name: Docker Build
      run: docker build -t ${{ secrets.DOCKER_USERNAME }}/asset-api:latest backend-api/AssetManagement.Api

    - name: Docker Login
      run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

    - name: Docker Push
      run: docker push ${{ secrets.DOCKER_USERNAME }}/asset-api:latest